<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>app</title>
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"
        integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs"
        crossorigin="anonymous"></script>
</head>

<body>
    <input type="text" id="input">
    <button id="btn">send</button>
    <div id="content-wrap"></div>
</body>
<script>
    window.onload = () => {
        let inputValue = null
        let socket = io('http://127.0.0.1:9200')
        socket.on("connect", () => {
            console.log(new Date().toLocaleString(), socket.id); // x8WIv7-mJelg7on_ALbx
        });
        socket.on("disconnect", () => {
            console.log(new Date().toLocaleString(), socket.connected); // false
            console.log('disconnect---', new Date().toLocaleString(), socket.id); // undefined
        });
    }
</script>

</html>